# ROS2 build artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Venv
.venv/

# API KEYS
.env

# Images
*.png
*.jpg