# ROS2 build artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Venv
.venv/

# API KEYS
.env
.claude/mcp.json
.claude/settings.local.json

# Images
*.png
*.jpg
my_versions/terminal_commands
my_versions/gripper_controller.py
my_versions/gz_bridge.yaml
.gitignore
my_versions/rviz_gaz_control.launch.py

# videos
videos/
