# ROS2 build artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Blender
*.blend

# OS
.DS_Store
Thumbs.db

# Venv
.venv/

# API KEYS
.env
src/my_versions/

# Images
*.png
*.jpg
!images/**/*.png
!images/**/*.jpg

# videos
videos/

# documents
docs/