<?xml version="1.0" encoding="utf-8"?>
<robot name="bookshelf">

  <link name="base_link">

    <inertial>
      <origin xyz="0 0 0.675" rpy="0 0 0"/>
      <mass value="18.0"/>
      <inertia ixx="3.645" ixy="0.0" ixz="0.0"
               iyy="4.374" iyz="0.0"
               izz="0.972"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://agibot_x2_pkg/meshes/bookshelf.glb"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="-0.389 0.000 0.675" rpy="0 0 0"/>
      <geometry><box size="0.022 0.300 1.350"/></geometry>
    </collision>

    <collision>
      <origin xyz="0.389 0.000 0.675" rpy="0 0 0"/>
      <geometry><box size="0.022 0.300 1.350"/></geometry>
    </collision>

    <collision>
      <origin xyz="0.000 -0.139 0.675" rpy="0 0 0"/>
      <geometry><box size="0.756 0.022 1.350"/></geometry>
    </collision>

    <collision>
      <origin xyz="0.000 0.011 0.011" rpy="0 0 0"/>
      <geometry><box size="0.756 0.278 0.022"/></geometry>
    </collision>

    <collision>
      <origin xyz="0.000 0.011 0.338" rpy="0 0 0"/>
      <geometry><box size="0.756 0.278 0.022"/></geometry>
    </collision>

    <collision>
      <origin xyz="0.000 0.011 0.660" rpy="0 0 0"/>
      <geometry><box size="0.756 0.278 0.022"/></geometry>
    </collision>

    <collision>
      <origin xyz="0.000 0.011 0.982" rpy="0 0 0"/>
      <geometry><box size="0.756 0.278 0.022"/></geometry>
    </collision>

    <collision>
      <origin xyz="0.000 0.011 1.339" rpy="0 0 0"/>
      <geometry><box size="0.756 0.278 0.022"/></geometry>
    </collision>

  </link>

  <gazebo>
    <static>true</static>
  </gazebo>

  <gazebo reference="base_link">
    <mu1>0.5</mu1> 
    <mu2>0.5</mu2>
    <kp>1e6</kp>
    <kd>100.0</kd>
  </gazebo>

  <link name="shelf_camera_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.02 0.02 0.02"/></geometry>
      <material name="red"><color rgba="1 0 0 1"/></material>
    </visual>
  </link>
  <joint name="shelf_camera_joint" type="fixed">
    <origin xyz="-0.16 0.75 1.50" rpy="0 0.55 -1.5707963"/>
    <parent link="base_link"/>
    <child link="shelf_camera_link"/>
  </joint>

</robot>
