<?xml version="1.0" encoding="utf-8"?>

<robot name="full_scene">

  <link name="base_link">

    <inertial>
      <origin xyz="-0.6 0.3 0.4" rpy="0 0 0"/>
      <mass value="30.0"/>
      <inertia ixx="4.0" ixy="0.0" ixz="0.0"
               iyy="5.0" iyz="0.0"
               izz="2.0"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://agibot_x2_pkg/meshes/full_scene.glb"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="-0.389 0.000 0.675" rpy="0 0 0"/>
      <geometry><box size="0.022 0.300 1.350"/></geometry>
    </collision>
    <collision>
      <origin xyz="0.389 0.000 0.675" rpy="0 0 0"/>
      <geometry><box size="0.022 0.300 1.350"/></geometry>
    </collision>
    <collision>
      <origin xyz="0.000 -0.139 0.675" rpy="0 0 0"/>
      <geometry><box size="0.756 0.022 1.350"/></geometry>
    </collision>
    <collision>
      <origin xyz="0.000 0.011 0.011" rpy="0 0 0"/>
      <geometry><box size="0.756 0.278 0.022"/></geometry>
    </collision>
    <collision>
      <origin xyz="0.000 0.011 0.338" rpy="0 0 0"/>
      <geometry><box size="0.756 0.278 0.022"/></geometry>
    </collision>
    <collision>
      <origin xyz="0.000 0.011 0.660" rpy="0 0 0"/>
      <geometry><box size="0.756 0.278 0.022"/></geometry>
    </collision>
    <collision>
      <origin xyz="0.000 0.011 0.982" rpy="0 0 0"/>
      <geometry><box size="0.756 0.278 0.022"/></geometry>
    </collision>
    <collision>
      <origin xyz="0.000 0.011 1.339" rpy="0 0 0"/>
      <geometry><box size="0.756 0.278 0.022"/></geometry>
    </collision>

    <collision>
      <origin xyz="-1.050 0.800 0.7275" rpy="0 0 0"/>
      <geometry><box size="1.200 0.900 0.045"/></geometry>
    </collision>
    <collision>
      <origin xyz="-0.500 1.200 0.3525" rpy="0 0 0"/>
      <geometry><box size="0.040 0.040 0.705"/></geometry>
    </collision>
    <collision>
      <origin xyz="-0.500 0.400 0.3525" rpy="0 0 0"/>
      <geometry><box size="0.040 0.040 0.705"/></geometry>
    </collision>
    <collision>
      <origin xyz="-1.600 1.200 0.3525" rpy="0 0 0"/>
      <geometry><box size="0.040 0.040 0.705"/></geometry>
    </collision>
    <collision>
      <origin xyz="-1.600 0.400 0.3525" rpy="0 0 0"/>
      <geometry><box size="0.040 0.040 0.705"/></geometry>
    </collision>

  </link>

  <gazebo>
    <static>true</static>
  </gazebo>

</robot>
