<?xml version="1.0" encoding="utf-8"?>
<robot name="table">

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0.375" rpy="0 0 0"/>
      <mass value="12.0"/>
      <inertia ixx="1.06" ixy="0.0" ixz="0.0"
               iyy="1.69" iyz="0.0"
               izz="2.25"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://agibot_x2_pkg/meshes/table.glb" scale="1 1 1.5"/>
      </geometry>
    </visual>

    <!-- piano -->
    <collision>
      <origin xyz="0.000 0.000 0.7275" rpy="0 0 0"/>
      <geometry><box size="1.200 0.900 0.045"/></geometry>
    </collision>

    <!-- gamba anteriore destra -->
    <collision>
      <origin xyz="0.550 0.400 0.3525" rpy="0 0 0"/>
      <geometry><box size="0.040 0.040 0.705"/></geometry>
    </collision>

    <!-- gamba anteriore sinistra -->
    <collision>
      <origin xyz="0.550 -0.400 0.3525" rpy="0 0 0"/>
      <geometry><box size="0.040 0.040 0.705"/></geometry>
    </collision>

    <!-- gamba posteriore destra -->
    <collision>
      <origin xyz="-0.550 0.400 0.3525" rpy="0 0 0"/>
      <geometry><box size="0.040 0.040 0.705"/></geometry>
    </collision>

    <!-- gamba posteriore sinistra -->
    <collision>
      <origin xyz="-0.550 -0.400 0.3525" rpy="0 0 0"/>
      <geometry><box size="0.040 0.040 0.705"/></geometry>
    </collision>

  </link>


  <!-- Oggetto statico: non risponde alla fisica, non si muove -->
  <gazebo>
    <static>true</static>
  </gazebo>

  <link name="table_camera_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry><box size="0.02 0.02 0.02"/></geometry>
      <material name="red"><color rgba="1 0 0 1"/></material>
    </visual>
  </link>
  <joint name="table_camera_joint" type="fixed">
    <origin xyz="0.53 -0.11 1.30" rpy="0 1.5707963 0"/>
    <parent link="base_link"/>
    <child link="table_camera_link"/>
  </joint>

  <gazebo reference="base_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>1e6</kp>
    <kd>100.0</kd>
  </gazebo>

</robot>
